<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>MNIST Handwriting Prediction</title>
</head>
<body>
    <h1>MNIST Handwriting Prediction</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept=".png, .jpg, .jpeg">
        <button type="submit">Predict</button>
    </form>
    {% if prediction %}
        <h2>Prediction: {{ prediction }}</h2>
    {% endif %}
</body>
</html>
